```conf
client
dev tun
proto udp

#############################################
# VPN Server
#############################################

remote YOUR_PUBLIC_IP 1194

#############################################
# Certificates
#############################################

ca ca.crt
cert kali.crt
key kali.key
tls-auth ta.key 1

#############################################
# Security
#############################################

cipher AES-256-GCM
auth SHA256

#############################################
# Connection
#############################################

resolv-retry infinite
nobind
persist-key
persist-tun

#############################################
# Verification
#############################################

remote-cert-tls server

#############################################
# Logging
#############################################

verb 3
```
